$marketplace-border-style: 1px solid rgb(209, 209, 209);

.co-marketplace-navtitle {
  display: inline-block;
  &--search {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
  }
}

.co-marketplace-sidepanel {
  margin: 15px;
  width: 15%;
  float: left;
  display: inline-block;
}

.co-marketplace-sidepanel--separator {
  border-bottom:($marketplace-border-style);
}

.co-marketplace-tileview {
  width: 80%;
  float: left;
  display: flex;
}

.co-marketplace-toolbar {
  border-bottom: ($marketplace-border-style);
  padding-bottom: 10px;
}

.co-marketplace-toolbar--results {
  display: inline-block;
}

.co-marketplace-toolbar--results h5 {
  font-weight: bold;
}

.co-marketplace-toolbar--sort {
  border-left: ($marketplace-border-style);
  padding-left: 10px;
  float: right;
}

.co-marketplace-modal {
  margin-top: 30px;
}

.co-marketplace-modal--item {
  float: left;
  padding: 15px;
}

.co-marketplace-modal--properties {
  width: 20%;
  display: inline-block;
  border: ($marketplace-border-style);
}

.co-marketplace-modal--description {
  width: 75%;
}
